= slide 'Що е то AI и има ли почва у нас?' do
  list:
    Казано на кратко, изкуствен интелект няма да ни трябва
    Ще ни трябват неща, които приличат на интелект
    Ще осланяме всичко на pattern ->  behaviour

= slide 'И все пак...' do
  list:
    какво точно е изкуствен интелект?
    ... и защо няма да ни трябва?

= slide 'Как човечето ни да не пада в лавата?' do
  list:
    Осланяме се на прост и ограничен decision making
    Няма процес на "научаване"
    Просто следва зададени правила
    Графовете рулират

= slide 'Ходови игри' do
  p Всички сме играли
  list:
    Шах
    Морски шах
    Табла
    Онази игра, на която трябва да затваряш квадратчета

  p Няколко полезни алгоритъма за тях
  list:
    Breath-First-Search
    Depth-First-Search
    Dijkstra

= slide 'Pathfinding' do
  p Свежда се до няколко алгоритъма
  list:
    Potential fields
    A*
    Best-First-Search
    Jump Point Search

= slide 'State machines' do
  list:
    Всяка една от игрите, които ви показахме за state машини


= slide 'Decision Making' do
  p
